body {
    margin: 0;
    background-color: lightgrey;
}

h3 {
    text-decoration: underline;
}

footer {
    margin: 0;
    padding: 2.5% 0;
}
/* BORDER BOX??????? */
.wrapper {
    margin: auto;
    padding: 0;
    /*background-color: yellow;*/
    display: inline-block;      /* get rid of white space around header */
    width: 100%;
}


.header, footer {
    margin: auto;
    background-color: seagreen;
    text-align:center;
    display: inline-block;          /* get rid of white space around header */
    width: 100%;
    color: white;
}



.toc {
    display: inline-block;
    float: left;
    background-color: white;
    margin-left: 10%;
    margin-top: 2.6%;
    width: 15%;
    border: 2px solid grey;
}

.toc ul {
    list-style-type: none;
}

.toc h2 {
    text-align: center;
    text-decoration: underline;
}

.topics {
    margin: auto;
    width: 40%;
    /*background-color: orange;*/
}

.subject {
    border: 2px solid grey;
    padding: 1% 0;    /* vertical space between subjects */
    margin: 6.67% 0;
    background-color: white;
}

ul[class="indent"] {
    display: inline-block;
    margin-left: 10%;
}

.subject p { 
    margin-left: 10%;
    margin-right: 10%;
}

.subject h3 {
    text-align: center;
}

.subject a {
    display: inline-block;
    margin-left: 80%;
}

.bul {
    font-weight: bold;
    text-decoration: underline;
}

#resTable {
    width: 80%;
    margin: auto;    /* indent table toward the right */
}

#resTable th {
    display: inline-block;
    color: orange;
    padding: 0 3%;
    width: 3rem;            /* increase cell size for spacing btwn words */
    text-align: left;       /* line up words along left side, default is center align */
}

@media (max-width: 950px) {
    .toc {
        display: block;
        float: none;
        width: 40%;
        margin: auto;
        margin-top: 3%;
    }
    
}